<%- include('../../share_customer/header'); %>
<%- include('../../share_customer/navbar'); %>
<div class="content" >
    <div class="col-lg-12 col-md-12 form-group">
        <span class="note"><%- message %></span>
    </div>
</div>
<script>
    var pageContext = {
        "page" : "<%- menu_active %>"
    }
</script>

<%- include('../../share_customer/footer'); %>